* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f1f1f1;
    /* background-image: url(/static/Untitled\ \(5\).png); */
    /* padding: 10px; */
    padding-top: 0px;
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  /* Center website */
  .main {
    max-width: 1000px;
    margin: auto;
    background-color: #fefefe;
    padding: 10px;
    padding-top: 0px;
  }
  
  
  /* FOR HEADER */
  header{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.25px solid #dddddd;
    margin: auto;
  }
  
  .logo-brand{
    display: flex;
  }
  
  .brand{
    font-size: 30px;
    font-weight: bolder;
    color: rgb(206, 6, 6);
    text-shadow: 2px 2px 3px black;
    /* padding-left: 10px; */
    display: inline;
  }
  
  sup{
    font-size: medium;
    color: antiquewhite;
    text-shadow: 1px 1px 2px maroon;
  }
  
  .hamburger{
    display: none;
  }
  
  .nav-bar ul{
    display: flex;
    list-style-type: none;
  }
  
  .nav-bar ul li a{
    display: block;
    color: black;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
    text-decoration: none;
  }
  
  .nav-bar ul li a:hover{
    color: #fefefe;
    background: blue;
  }
  
  .nav-bar ul li a.active{
    color: #fefefe;
    background: #11101b;
  }
  
  @media only screen and (max-width: 1320px){
    header{
        padding: 0 50px;
    }
  }
  
  @media only screen and (max-width: 1100px){
    header{
        padding: 0 5px;
    }
  }
  
  @media only screen and (max-width: 900px){
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger .line{
        width: 30px;
        height: 3px;
        background: #11101b;
        margin: 6px 0;
    }
    .nav-bar{
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: rgb(161, 161, 150);
        transition: 0.5s;
        overflow: hidden;
    }
    .nav-bar.active{
        height: 450px;
    }
    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar.active ul{
        opacity: 1;
    }
    nav-bar ul li a{
        margin-bottom: 12px;
    }
  }
  
  
  /* FOR SUBHEADER */
  .sub-header h2{
    margin-bottom: 0px;
    padding-left: 4px;
  }
  
  .sub-header p{
    margin-top: 0px;
    padding-left: 4px;
  }
  
  
  /* FOR FOOTER */
  footer{
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: space-around;
    margin: 0 auto;
    border-bottom: 0.25px solid #dddddd;
  }
  
  .footer-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer-bar ul{
    display: flex;
    list-style-type: none;
    padding-left: 0px;
    /* border-bottom: 0.25px solid #dddddd; */
    margin-bottom: 0px;
  }
  
  .footer-bar ul a{
    display: block;
    /* color: grey; */
    font-size: 13px;
    padding: 10px 10px;
    text-decoration: none;
  }
  
  .footer-bar ul a:hover{
    color: rgb(214, 12, 12);
  }
  
  /* FOR COPYRIGHT */
  .copyright{
    margin: 0 auto;
    margin-top: 10px;
  }
  
  footer{
    position: relative;
    bottom: 2px;
    display: block;
    text-align: start;
    font-size: x-small;
    width: 99%;
  }
  
  @media (max-width: 768px){
    footer{
        position: relative;
  
    }
  }
  
  @media (max-width: 390px){
    footer{
        position: relative;
    }
  }
  
  footer{
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: space-around;
  margin: 0 auto;
  border-bottom: 0.25px solid #dddddd;
  }
  
  .footer-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  }
  
  .footer-bar ul{
  display: flex;
  list-style-type: none;
  padding-left: 0px;
  /* border-bottom: 0.25px solid #dddddd; */
  margin-bottom: 0px;
  }
  
  .footer-bar ul a{
  display: block;
  /* color: grey; */
  font-size: 13px;
  padding: 10px 10px;
  text-decoration: none;
  }
  
  .footer-bar ul a:hover{
  color: rgb(214, 12, 12);
  }
  
  /* FOR COPYRIGHT */
  .copyright{
  margin: 0 auto;
  margin-top: 10px;
  }
  
  /* FOR WELCOME */
  .welcome{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: xx-large;
    color: white;
    text-shadow: 3px 3px 5px black;
    width: 80%;
    margin: 80px auto;
    margin-bottom: 0px;
  }
  
  .click_here{
    display: flex;
    width: 80%;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  .click_here a:hover{
    background-color: greenyellow;
    color: black;
    transition: 0.2s;
  }
  
  .click_here a{
    color: whitesmoke;
    background-color: red;
    border-radius: 15px;
    font-weight: bold;
  }
  
  /* ---FOR ABOUT.HTML--- */
  .about-container{
    display: flex;
    padding: 20px 0px;
    width: 100%;
    margin: 0px auto;
    justify-content: center;
  }
  
  .a-row{
    width: 100%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 30px;
    /* margin: 0px auto; */
    margin-bottom: 20px;
  }
  
  .a-row .a-left{
    overflow: hidden;
  }
  
  .a-row .a-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .a-row .a-right{
    align-items: start;
  }
  
  .a-row .a-right .a-content{
    padding-left: 20px;
  }
  
  .a-row .a-right .a-content p{
    line-height: 26px;
    padding-bottom: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  @media (max-width: 991px){
    .a-row .a-right .a-content{
        padding-left: 0;
    }
  }
  
  @media (max-width: 768px){
    .a-row{
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
        grid-template-columns: 1fr;
    }
  }
  
  
  /* FOR PROJECTS */
  .row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 10px;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.3%;
  }
  
  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  
  /* ---FOR PROJECT-DETAILS.HTML--- */
  .details-container{
    display: flex;
    /* padding: 10px; */
    width: 100%;
    margin: 0px auto;
  }
  
  .details{
    width: 100%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: 35% auto;
    grid-gap: 20px 30px;
    margin: 0px auto;
    margin-bottom: 20px;
  }
  
  .details .right{
    overflow: hidden;
  }
  
  .details .right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .details .left{
    align-items: start;
  
  }
  
  .details .left .content{
    padding: 0 0px;
    box-shadow: 0px 0 30px rgba(44, 73, 100, 0.08);
    border-style: hidden;
    border-radius: 13px;
  }
  
  .details .left .content p{
    line-height: 26px;
    padding-bottom: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  @media (max-width: 991px){
    .details .left .content{
        padding-left: 0;
    }
  }
  
  @media (max-width: 768px){
    .details{
        width: 90%;
        grid-template-columns: 1fr;
    }
  }
  
  
  
  /* FOR PROJECT-DETAILS SLIDESHOW */
  .mySlides {display: none;}
  img {vertical-align: middle;}
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/4 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }
  
    .clearfix:after {
      content: "";
      display: table;
      clear: both;
    }
  
    /* ---FOR CONTACT--- */
    .contact-container{
      display: flex;
      width: 100%;
      margin: 0px auto;
  }
  
  .c-row{
      width: 120%;
      /* max-width: 1170px; */
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px 30px;
      margin: 0px auto;
      margin-bottom: 20px;
  }
  
  .form-container {
      border-radius: 10px;
      background-color: rgb(236, 236, 236);
      padding: 10px;
      padding-top: 8px;
      width: 100%;
      height: auto;
      margin: 20px auto;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .c-row .right{
    justify-self: auto;
    padding-left: 10px;
  }
  
  @media (max-width: 991px){
    .c-row .right .content{
        padding-left: 0;
    }
  }
  
  @media (max-width: 768px){
    .c-row{
        width: 100%;
        grid-template-columns: 1fr;
    }
  }
  
  .social-links{
    list-style-type: none;
    display: flex;
    padding-left: 0px;
  }
  
  .social-links li img{
    width: 38px;
    padding: 0 5px;
    padding-left: 0px;
    padding-right: 15px;
  }