<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>
  <header>
    <div class="logo-brand"><a href="/" style="text-decoration: none; display: flex; align-items: center;">
      <img src="/static/busycoderlogo.JPG" alt="logo" style="height: 50px; border-radius: 30px;">
      <div class="brand">BusyCODER</div></a>
    </div>
    <div class="hamburger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <nav class="nav-bar">
      <ul>
        <li>
          <a href="/home.html">Home</a>
        </li>
        <li>
          <a href="/about.html">About</a>
        </li>
        <li>
          <a href="/projects.html">Projects</a>
        </li>
        <li>
          <a href="" class="active">Contact</a>
        </li>
      </ul>
    </nav>
  </header>

  <div class="heading-container">
    <p style="font-size: xx-large; font-weight: 500; margin-bottom: 0px;">Contact me</p>
    <p style="margin-top: 0px; font-size: large;">Your comments and thoughts are highly appreciated</p>
  </div>

  <div class="container">
    <form action="https://formsubmit.co/49ba352136caf6d6051ad83f3f40deae" method="POST">
      <label>Name</label>
      <input type="text" name="From" placeholder="Enter your full name..">

      <label>E-mail address:</label>
      <input type="email" name="Email Address" placeholder="Your email address..">

      <label>Message</label>
      <textarea name="Message" placeholder="Write something.." style="height: 150px"></textarea>

      <input type="hidden" name="_next" value="http://127.0.0.1:5000/thanks.html">
      <input type="hidden" name="_captcha" value="false">

      <input type="submit" value="Submit">
    </form>
  </div>

  <footer>
    <div class="footer-bar">
      <ul>
      <li>
        <a href="home.html">Home</a>
      </li>
      <li>
        <a href="/about.html">About</a>
      </li>
      <li>
        <a href="/projects.html">Projects</a>
      </li>
      <li>
        <a href="/contact.html">Contact</a>
      </li>
      </ul>
    </div>
  </footer>

  <div class="copyright"><footer style="border-bottom: 0;">&copy; 2023 Bryan G. Caracas</footer></div>

  <script>
    hamburger = document.querySelector(".hamburger");
    hamburger.onclick = function(){
      navBar = document.querySelector(".nav-bar");
      navBar.classList.toggle("active");
    }
  </script>

</body>

</html>