<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>
  <header>
    <div class="logo-brand"><a href="/" style="text-decoration: none; display: flex; align-items: center;">
      <img src="/static/busycoderlogo.JPG" alt="logo" style="height: 50px; border-radius: 30px;">
      <div class="brand">BusyCODER</div></a>
    </div>
    <div class="hamburger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <nav class="nav-bar">
      <ul>
        <li>
          <a href="" class="active">Home</a>
        </li>
        <li>
          <a href="/about.html">About</a>
        </li>
        <li>
          <a href="/projects.html">Projects</a>
        </li>
        <li>
          <a href="/contact.html">Contact</a>
        </li>
      </ul>
    </nav>
  </header>
  
  <div style="width: auto; margin: 10px auto;">
    <img src="/static/Under-Construction.png" alt="">
  </div>

  <footer>
    <div class="footer-bar">
      <ul>
      <li>
        <a href="home.html">Home</a>
      </li>
      <li>
        <a href="/about.html">About</a>
      </li>
      <li>
        <a href="/projects.html">Projects</a>
      </li>
      <li>
        <a href="/contact.html">Contact</a>
      </li>
      </ul>
    </div>
  </footer>

  <div class="copyright"><footer style="border-bottom: 0;">&copy; 2023 Bryan G. Caracas</footer></div>

  <script>
    hamburger = document.querySelector(".hamburger");
    hamburger.onclick = function(){
      navBar = document.querySelector(".nav-bar");
      navBar.classList.toggle("active");
    }
  </script>

</body>

</html>