<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BusyCODER</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/ico.JPG">
</head>

<body style="background-image: url(/static/background.png);">

<!-- MAIN (Center website) -->
  <div class="main" style="background-image: url(/static/background.png);">

    <!-- <header>
      <div class="logo-brand"><a href="/" style="text-decoration: none; display: flex;">
        <div class="brand">BusyCODER</div></a>
      </div>
    </header> -->

  <!-- <div class="sub-header">
    <h2>ABOUT</h2>
    <p>Contents about this site.</p>
  </div> -->

  <!-- About Grid -->
  <!-- <div class="about-container">
    <div class="a-row">
      <div class="a-left">
        <img src="/static/about image.avif" alt="">
      </div>
      <div class="a-right">
        <div class="a-content">
          <p style="margin-top: 0px; margin-bottom: 0px; padding-bottom: 4px; font-size: x-large;">Coding Ideas</p>
          <p style="font-weight: 300;"><span style="font-weight: bold;">BusyCODER</span> focuses on coding and technology-related topics, offering resources, tutorials, and discussions for tech enthusiasts and developers. It also serve as an informative hub for individuals seeking to enhance their coding skills or stay up-to-date with the latest technological advancements.</p>
        </div>
      </div>
    </div>
  </div> -->

  <!-- Portfolio Gallery Grid -->

  <div class="welcome">
    <h3 style="margin-bottom: 0px;">Welcome to</h3>
    <h1 style="margin: 0px;">BusyCODER</h1>
  </div>

  <div class="click_here">
    <p><a style="text-decoration: none; padding: 5px 10px;" href="/home.html">START HERE</a></p>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <!-- END MAIN -->
  </div>

  <!-- <footer>
    <div class="footer-bar">
      <ul>
      <li>
        <a href="/home.html">Home</a>
      </li>
      <li>
        <a href="/about.html">About</a>
      </li>
      <li>
        <a href="/projects.html">Projects</a>
      </li>
      <li>
        <a href="/contact.html">Contact</a>
      </li>
      </ul>
    </div>
  </footer> -->

  <div class="copyright"><footer style="border-bottom: 0;">&copy; 2023 Bryan G. Caracas</footer></div>

<script>
  hamburger = document.querySelector(".hamburger");
  hamburger.onclick = function(){
    navBar = document.querySelector(".nav-bar");
    navBar.classList.toggle("active");
  }
</script>

</body>
</html>
