<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>code B</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/static/ico.JPG">
</head>

<body>

<!-- MAIN (Center website) -->
  <div class="main">

    <header>
      <div class="logo-brand"><a href="/" style="text-decoration: none; display: flex;">
        <div class="brand">code B</div></a>
      </div>
      <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <nav class="nav-bar">
        <ul>
          <li>
            <a href="/home.html">Home</a>
          </li>
          <!-- <li>
            <a href="/about.html">About</a>
          </li> -->
          <li>
            <a href="/projects.html" class="active">Projects</a>
          </li>
          <li>
            <a href="/contact.html">Contact</a>
          </li>
        </ul>
      </nav>
    </header>

  <div class="sub-header">
    <h2>PROJECT DETAILS</h2>
    <p><a href="/projects.html">Projects </a>>><span style="font-weight: bold;"> G-Cash Calculator</span></p>
  </div>


  <!-- Portfolio Details Grid -->
  <div class="details-container">
    <div class="details">
      <div class="left">
        <div class="content">
          <span><p style="margin-top: 0px; margin-bottom: 0px; padding: 12px 0; font-size: x-large; border-bottom: 0.25px solid #dddddd;">Project Information</p></span>
          <p style="font-weight: 300; padding: 10px 0;"><span style="font-weight: 500;">Category : </span> Application</p>
          <p style="font-weight: 300; padding: 10px 0;"><span style="font-weight: 500;">Project Date : </span> August 2023</p>
          <p style="font-weight: 300; padding: 10px 0;"><span style="font-weight: 500;">Tools Used : </span> Pycharm, Tkinter, PyInstaller</p>
          <p style="font-weight: 300; padding: 10px 0;"><span style="font-weight: 500;">Coding : </span> Python, Flask</p>
          <!-- <p style="font-weight: 300; padding: 10px 0;"><span style="font-weight: 500;">Client : </span> Ronel Benosa</p> -->
          <!-- <p style="font-weight: 300; padding: 10px 0;"><span style="font-weight: 500;">Github Repository URL : </span><a href="#">https://.com</a></p> -->
        </div>
      </div>
      <div class="slideshow-container">

        <div class="mySlides fade">
          <div class="numbertext"></div>
          <img src="/static/G-Cash Calculator.png" style="width:100%">
          <!-- <div class="text">Caption Text</div> -->
        </div>

        <div class="mySlides fade">
          <div class="numbertext"></div>
          <img src="/static/G-Cash Calculator_2.png" style="width:100%">
          <!-- <div class="text">Caption Two</div> -->
        </div>

        <div class="mySlides fade">
          <div class="numbertext"></div>
          <img src="/static/G-Cash Calculator_3.png" style="width:100%">
          <!-- <div class="text">Caption Three</div> -->
        </div>

        <div class="mySlides fade">
          <div class="numbertext"></div>
          <img src="/static/G-Cash Calculator_source code.png" style="width:100%">
          <!-- <div class="text">Caption Three</div> -->
        </div>

        </div>
        <br>

        <div style="text-align:center">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
      </div>
</div>

<div>
  <p style="margin-bottom: 0;">Description:</p>
  <p style="margin-top: 0px; font-weight: 300">A custom application that computes certain cash flows and transactions made on the G-Cash app. Embedding simple arithmetic functions, it can calculate for the user the remaining cash, remaining GCash, and new profit. </p>
</div>
</div>
  <!-- END MAIN -->

  <footer>
    <div class="footer-bar">
      <ul>
      <li>
        <a href="home.html">Home</a>
      </li>
      <!-- <li>
        <a href="/about.html">About</a> -->
      </li>
      <li>
        <a href="/projects.html">Projects</a>
      </li>
      <li>
        <a href="/contact.html">Contact</a>
      </li>
      </ul>
    </div>
  </footer>

  <div class="copyright"><footer style="border-bottom: 0;">&copy; 2023 Bryan G. Caracas</footer></div>

<script>
  hamburger = document.querySelector(".hamburger");
  hamburger.onclick = function(){
    navBar = document.querySelector(".nav-bar");
    navBar.classList.toggle("active");
  }

  let slideIndex = 0;
  showSlides();

  function showSlides() {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    let dots = document.getElementsByClassName("dot");
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex > slides.length) {slideIndex = 1}
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
    setTimeout(showSlides, 2500); // Change image every 2.5 seconds
  }
</script>

</body>
</html>